<section class="tab-group">
  <label class="tab">
    <input type="radio" name="group-tabs" value="" checked="checked" />
    <span class="control-label">{{ T "widgets.chat.tabs.directMessages" }}</span>
  </label>
  <label class="tab">
    <input type="radio" name="group-tabs" value="1" />
    <span class="control-label">{{ T "widgets.chat.tabs.publicChannels" }}</span>
  </label>
</section>
