<div class="list-of-contacts hidden">
<h4>{{ T "widgets.chat.dataSource.conversation.newConversation.title" }}</h4>
<p>{{ T "widgets.chat.dataSource.conversation.newConversation.instruction" }}</p>

<ul class="contacts">
  {{#each contacts}}
    <li>
      <a href="#" data-create-conversation="{{ id }}">{{ fullName }}</a>
    </li>
  {{/each}}
</ul>
</div>
